@if (showLayout()) {
  <mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
      <span class="toolbar-title">
        <a class="toolbar-title" [routerLink]="['/']">
          <img src="/assets/images/citizen-sphere-logo.png" alt="Citizen Sphere Logo" class="app-logo">

          {{ getAppTitle() }}
        </a>
      </span>
      
      <div class="toolbar-spacer"></div>
      
      <span class="user-info">{{ getUserDisplayName() }}</span>
      
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="navigateToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="openSettings()">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
}

<div class="app-container" [class.no-toolbar]="!showLayout()">
  <router-outlet />
</div>
